<div class="boat-training-section">
  <div class="boat-training-section__header">
    <h3 class="boat-training-section__heading">All Plugins</h3>
  </div>

  <div class="bot-plugins">
    <a
      routerLink="/admin/bot/plugin/salesforce"
      class="bot-plugins__item"
    >
      <div class="bot-plugins__item-logo">
        <img
          src="../../../../assets/images/salesforce_logo.png"
          alt="salesforce logo"
        />
      </div>
      <h6 class="bot-plugins__item-heading">Salesforce</h6>
      <p>Integrate with salesforce & increase your leads ...</p>
    </a>

    <a
      routerLink="/admin/bot/plugin/servicenow"
      class="bot-plugins__item"
    >
      <div class="bot-plugins__item-logo">
        <img
          src="../../../../assets/images/servicenow_logo.png"
          alt="Servicenow logo"
        />
      </div>
      <h6 class="bot-plugins__item-heading">Servicenow</h6>
      <p>Integrate with salesforce & increase your leads ...</p>
    </a>

    <a
    routerLink="/admin/bot/plugin/zendesk"
      class="bot-plugins__item"
    >
      <div class="bot-plugins__item-logo">
        <img
          src="../../../../assets/images/zendesk_logo.png"
          alt="Zendesk logo"
        />
      </div>

      <h6 class="bot-plugins__item-heading">Zendesk</h6>
      <p>Integrate with Zendesk & increase your leads ...</p>
    </a>

    <a
    routerLink="/admin/bot/plugin/zoho"
      class="bot-plugins__item"
    >
      <div class="bot-plugins__item-logo">
        <img src="../../../../assets/images/zoho_logo.png" alt="Zoho logo" />
      </div>
      <h6 class="bot-plugins__item-heading">Zoho</h6>
      <p>Integrate with zoho & increase your leads ...</p>
    </a>
  </div>
</div>

<!-- <mat-card class="zone zone-picker">
  <mat-form-field>
    <input
      matInput
      [ngxMatColorPicker]="picker"
      [formControl]="colorCtr"
      [disabled]="disabled"
    />
    <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
    <ngx-mat-color-picker
      #picker
      [touchUi]="touchUi"
      [color]="color"
    ></ngx-mat-color-picker>
  </mat-form-field>
</mat-card> -->
