<aside class="section-boat__sidebar">
    <h4 class="section-boat__sidebar-heading">
        <span>{{currentBot}}</span>
    </h4>

    <ul class="section-boat__sidebar-menu">
        <li class="section-boat__sidebar-menu-item">
            <a class="section-boat__sidebar-menu-link" routerLink="/admin/bot/training/{{currentBot}}" routerLinkActive="active">Training</a
        >
      </li>
      <li class="section-boat__sidebar-menu-item">
        <a
          class="section-boat__sidebar-menu-link"
          routerLink="/admin/bot/configuration/{{currentBot}}/iframe"
          routerLinkActive="active"
          >Configuration</a
        >
      </li>
      <li class="section-boat__sidebar-menu-item">
        <a
          class="section-boat__sidebar-menu-link"
          routerLink="/admin/bot/configuration/{{currentBot}}/plugins"
          routerLinkActive="active"
          >All Plugins</a
        >
      </li>
    </ul>    
  </aside>