* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @include scrollbar(8px);
}

body {
  color: $c-gray;
}

a {
  text-decoration: none;
}
input::-webkit-input-placeholder {
  color: rgba($c-gray, 0.4);
}

input:-ms-input-placeholder { 
  color: rgba($c-gray, 0.4);
}
  input::placeholder {
  color: rgba($c-gray, 0.4);
}

img {
  max-width: 100%;
}