// COLORS
$c-primary: #0E496E;
$c-secondary: #052849;
$c-secondary-light: #f9dfcc;
$c-danger: #FF0000;
$c-success: #148D06;
$c-white: #FFFFFF;
$c-black: #000000;
$c-yellow: #F9B220;
$c-secondary-gradient: linear-gradient(45deg, $c-yellow, $c-secondary);

$c-landing-light: #FCFCFC;
$c-primary-light: #ffffff33;
$c-light-gray: #FAFAFA;
$c-light2-gray: #F4F4F4;
$c-gray: #707070;
$c-gray-dark:#323232;
$c-dark: #070e1b;
$c-sky: #1F71F2;
$c-sky-light: #FAFDFF;
$c-tints:#FCE4D3;
$c-blue: #0549B4;
$c-bage-editor-color:#0090FF;
$c-chardon:#FFEDE0;

$c-google: #F34133;
$c-facebook: #1877F2;
$c-linedin: #0A66C2;
$c-light-blue:#126397;

// LANDING PAGES VARIABLES
$c-landing-dark-gray: #212121;
$c-ladning-primary: #084165;
$c-ladning-primary-dark: #042133;
$c-ladning-primary-light: #0F81C9;
$c-landing-sky: #7ccbfd;

// TYPOGRAPHY
$font-primary: 'Open Sans', sans-serif;
$font-mulish: 'Mulish', sans-serif;