.boat-training-section__search{
    width: 100%;
}

.boat-training-section__searchDrop{
    width: 15%;
    float: left;
}

.boat-training-section__searchInput{
    width: 83%;
    float: right;
}
.section-settings__table{
    width: 100% !important;
}