.chatbot {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 1000;
  }
  .chatbot__toggle {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 4px 24px rgba(242, 126, 44, 0.4);
    background-color: #052849;
    position: relative;
    transition: all 0.2s ease-in-out;
  }
  @media screen and (max-width: 1600px) {
    .chatbot__toggle {
      width: 60px;
      height: 60px;
   }
  }
  .chatbot__toggle-logo {
    max-width: 100%;
    transition: all 0.2s ease-in-out;
  }
  .chatbot__toggle-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 33%;
    height: 33%;
    transition: all 0.2s ease-in-out;
  }
  .chatbot__toggle-edit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  .chatbot__toggle:hover {
    transform: scale(1.1);
  }
  .chatbot__toggle:hover .chatbot__toggle-edit {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  .chatbot__toggle:hover .chatbot__toggle-logo {
    opacity: 0;
  }
  .chatbot__welcome {
    position: absolute;
    width: 300px;
    right: calc(100% + 20px);
    bottom: 50%;
    background-color: #fff;
    padding: 25px;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    box-shadow: 0 3px 6px #000;
    animation: botWelcomeMsg 0.3s ease;
  }
  .chatbot__welcome-msg {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  .chatbot__welcome-msg-icon {
    margin-right: 8px;
  }
  .chatbot__bot {
    width: 460px;
    position: absolute;
    bottom: 100px;
    background-color: #fff;
    right: 0;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    animation: botWelcomeMsg 0.3s ease;
  }
  @media screen and (max-width: 1600px) {
    .chatbot__bot {
      width: 400px;
      bottom: 80px;
   }
  }
  .chatbot__bot-header {
    padding: 20px;
    background: linear-gradient(45deg, #f9b220, #052849);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    align-items: center;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  @media screen and (max-width: 1600px) {
    .chatbot__bot-header {
      padding: 15px;
   }
  }
  .chatbot__bot-header-user {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  @media screen and (max-width: 1600px) {
    .chatbot__bot-header-user {
      width: 50px;
      height: 50px;
   }
  }
  .chatbot__bot-header-user img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
  }
  .chatbot__bot-header-user.online::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #148d06;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 3.5px;
    right: 3.5px;
  }
  .chatbot__bot-header-heading {
    padding: 0 20px;
  }
  .chatbot__bot-header-heading-one {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .chatbot__bot-header-heading-tagline {
    font-size: 18px;
    margin-bottom: 0;
  }
  @media screen and (max-width: 1600px) {
    .chatbot__bot-header-heading-one {
      font-size: 18px;
   }
    .chatbot__bot-header-heading-tagline {
      font-size: 14px;
   }
  }
  .chatbot__bot-header-icon {
    margin-left: auto;
    cursor: pointer;
  }
  @media screen and (max-width: 1600px) {
    .chatbot__bot-header-icon img {
      height: 26px;
   }
  }
  .chatbot__bot-body {
    padding: 20px;
    min-height: 45vh;
    height: 100%;
    max-height: 100%;
    overflow-x: auto;
    position: relative;
  }
  @media screen and (max-width: 1600px) {
    .chatbot__bot-body {
      padding: 15px;
   }
  }
  .chatbot__bot-messages-msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
  }
  .chatbot__bot-messages-msg-content {
    font-size: 14px;
    background: #f4f4f4;
    max-width: 70%;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 20px;
    position: relative;
  }
  @media screen and (max-width: 1600px) {
    .chatbot__bot-messages-msg-content {
      font-size: 12px;
   }
  }
  .chatbot__bot-messages-msg-content.content--text {
    padding: 15px;
  }
  .chatbot__bot-messages-msg-content.content--media {
    width: 250px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.02);
  }
  .chatbot__bot-messages-msg-content.content--media .vjs-poster, .chatbot__bot-messages-msg-content.content--media .video-js, .chatbot__bot-messages-msg-content.content--media img, .chatbot__bot-messages-msg-content.content--media video {
    border-radius: 20px;
  }
  .chatbot__bot-messages-msg-content.content--media .video-js button {
    border: none !important;
    background: transparent !important;
  }
  .chatbot__bot-messages-msg-content.content--media .video-js .vjs-control-bar {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .chatbot__bot-messages-msg-user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  .chatbot__bot-messages-msg-user img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
  }
  .chatbot__bot-messages-msg-time {
    font-size: 10px;
    position: absolute;
    top: calc(100% + 8px);
  }
  .chatbot__bot-messages-msg.msg--recieve .chatbot__bot-messages-msg-content.content--text {
    border-bottom-left-radius: 0;
  }
  .chatbot__bot-messages-msg.msg--recieve .chatbot__bot-messages-msg-time {
    left: 0;
  }
  .chatbot__bot-messages-msg.msg--send {
    flex-direction: row-reverse;
  }
  .chatbot__bot-messages-msg.msg--send .chatbot__bot-messages-msg-content.content--text {
    border-bottom-right-radius: 0;
    background-color: #f9dfcc;
  }
  .chatbot__bot-messages-msg.msg--send .chatbot__bot-messages-msg-time {
    right: 0;
  }
  .chatbot__bot-suggetions {
    list-style: none;
    text-align: right;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 8px;
  }
  .chatbot__bot-suggetions li:not(:last-child) {
    margin-bottom: 8px;
  }
  .chatbot__bot-suggetions-btn {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 26px;
    background: #fff;
    border: 1px solid #052849;
    color: #052849;
    cursor: pointer;
    outline: none;
  }
  @media screen and (max-width: 1600px) {
    .chatbot__bot-suggetions-btn {
      font-size: 12px;
   }
  }
  .chatbot__bot-feedback {
    padding: 50px 30px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 380px;
  }
  @media screen and (max-width: 1600px) {
    .chatbot__bot-feedback {
      min-height: 320px;
   }
  }
  .chatbot__bot-feedback-heading {
    font-size: 20px;
    margin-bottom: 0.8em;
  }
  @media screen and (max-width: 1600px) {
    .chatbot__bot-feedback-heading {
      font-size: 18px;
   }
  }
  .chatbot__bot-feedback-description {
    font-size: 18px;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 1600px) {
    .chatbot__bot-feedback-description {
      font-size: 14px;
   }
  }
  .chatbot__bot-feedback-btn {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 26px;
    background: #fff;
    border: 1px solid #052849;
    color: #052849;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    align-items: center;
    margin: 8px 4px;
    transition: 0.3s all ease-in-out;
  }
  @media screen and (max-width: 1600px) {
    .chatbot__bot-feedback-btn {
      font-size: 12px;
   }
  }
  .chatbot__bot-feedback-btn img {
    margin-right: 8px;
  }
  .chatbot__bot-feedback-btn span {
    margin-top: 2px;
  }
  .chatbot__bot-feedback-btn:hover {
    background-color: #f4f4f4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16);
  }
  .chatbot__bot-feedback-footer {
    margin-top: auto;
  }
  .chatbot__bot-feedback-footer-link {
    color: #1f71f2;
    font-size: 18px;
  }
  @media screen and (max-width: 1600px) {
    .chatbot__bot-feedback-footer-link {
      font-size: 14px;
   }
  }
  .chatbot__bot-footer {
    position: relative;
  }
  .chatbot__bot-footer-input-group {
    position: relative;
    margin: 0 7px;
  }
  .chatbot__bot-footer-input {
    width: 55%;
    font-size: 18px;
    padding: 16px;
    padding-right: 160px !important;
    border-radius: 28px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
    border: none;
    outline: none;
    line-height: 1.36;
  }
  @media screen and (max-width: 1600px) {
    .chatbot__bot-footer-input {
      padding: 14px;
      font-size: 16px;
   }
  }
  .chatbot__bot-footer-input-append {
    height: calc(100% - 8px);
    position: absolute;
    top: 4px;
    right: 4px;
    display: flex;
    align-items: center;
  }
  .chatbot__bot-footer-powered-by-text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 8px;
  }
  .chatbot__bot-footer-powered-by-text img {
    margin-left: 8px;
    max-width: 70px;
  }
  @media screen and (max-width: 1600px) {
    .chatbot__bot-footer-powered-by-text {
      font-size: 12px;
   }
    .chatbot__bot-footer-powered-by-text img {
      max-width: 60px;
   }
  }
  .chatbot__bot-footer-attachment {
    margin: 0 8px;
  }
  .chatbot__bot-footer-attachment, .chatbot__bot-footer-emojies {
    cursor: pointer;
  }
  .chatbot__bot-footer-send {
    padding: 15px;
    border-radius: 26px;
    border: none;
    outline: none;
    background: #052849;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
  }
  .chatbot__bot-footer-send span {
    font-size: 14px;
    margin-top: 5px;
    margin-left: 8px;
  }
  @media screen and (max-width: 1600px) {
    .chatbot__bot-footer-send {
      padding: 12px;
   }
    .chatbot__bot-footer-send span {
      font-size: 12px;
      margin-top: 0px;
      margin-left: 5px;
   }
  }
  .chatbot__bot-loader {
    list-style: none;
    margin-bottom: 0;
    display: flex;
    padding: 4px 0;
    margin-top: -8px;
  }
  .chatbot__bot-loader li {
    width: 10px;
    height: 10px;
    background-color: #052849;
    border-radius: 50%;
  }
  .chatbot__bot-loader li:not(:last-child) {
    margin-right: 8px;
  }
  .chatbot__bot-loader li:nth-last-child(1) {
    animation: loadingMessage 0.5s 0.1s linear infinite;
  }
  .chatbot__bot-loader li:nth-last-child(2) {
    animation: loadingMessage 0.5s 0.2s linear infinite;
  }
  .chatbot__bot-loader li:nth-last-child(3) {
    animation: loadingMessage 0.5s 0.3s linear infinite;
  }
  .chatbot.open .chatbot__toggle-logo, .chatbot.open .chatbot__toggle-edit {
    opacity: 0;
  }
  .chatbot.open .chatbot__toggle-icon {
    opacity: 1;
  }
  @keyframes botWelcomeMsg {
    0% {
      opacity: 0;
      transform: translate(50px, 50px);
   }
    100% {
      opacity: 1;
      transform: translate(0px, 0px);
   }
  }
  @keyframes loadingMessage {
    0% {
      transform: translate(0, 0);
   }
    50% {
      transform: translate(0, 8px);
   }
    100% {
      transform: translate(0, 0);
   }
  }
  #chat-items{
    min-height: 45vh;
    max-height: 80vh;
  }