<section class="onboarding-container">
    <div class="onboarding-vector-section">
        <div class="onboarding-vector-section__carousel">
            <owl-carousel-o [options]="onboardingCarouselOptions">
                <ng-template carouselSlide>
                    <div>
                        <img src="../../../assets/images/onboarding-vector.png" alt="" class="onboarding-vector-section__carousel-image" />
                        <div class="onboarding-vector-section__carousel-text">
                            <h2>Manage All Bots With One User Interface</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div>
                        <img src="../../../assets/images/onboarding-vector.png" alt="" class="onboarding-vector-section__carousel-image" />
                        <div class="onboarding-vector-section__carousel-text">
                            <h2>Manage All Bots With One User Interface</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div>
                        <img src="../../../assets/images/onboarding-vector.png" alt="" class="onboarding-vector-section__carousel-image" />
                        <div class="onboarding-vector-section__carousel-text">
                            <h2>Manage All Bots With One User Interface</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                            </p>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="onboarding-form-section">
        <div class="onboarding-form-section__inner">
            <form class="onboarding-form-section__form"  [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <!--<img src="../../../assets/images/logo-full-colored.png" alt="askTolas logo" class="onboarding-form-section__logo" />-->

                <h1 class="onboarding-form-section__form-heading">
                    Reset Password
                </h1>

                <p class="onboarding-form-section__form-suggestion">
                    Automate your business with asktalos
                </p>

                <mat-form-field appearance="outline">
                    <mat-label>Enter New Password</mat-label>
                    <input matInput placeholder="New Password" type="password" formControlName="password" />
                    <mat-error *ngIf="f.password.hasError('required')">
                        Password is <strong>required</strong> </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword" />
                    <mat-error *ngIf="f.confirmPassword.hasError('required')">
                        Password is <strong>required</strong> </mat-error>
                </mat-form-field>

               

                <button mat-button class="bttn bttn-secondary-gradient" [disabled]="resetForm.invalid">Reset</button>
                <!-- <h4 style="color: red;">{{errorMsg}}</h4> -->
                <p class="onboarding-form-section__form-next-action">
                    Don't have an account ?
                    <a [routerLink]="['', 'auth', 'sign-up']" class="link">Sign Up</a>
                </p>

            </form>

            <p class="onboarding-form-section__or-seprator">Or</p>

            <div class="onboarding-form-section__buttons">
                <button mat-button class="bttn bttn-google">
          <span class="onboarding-form-section__button">
            <img
              src="../../../assets/icons/icon_google.svg"
              alt="icon google"
            />
            <span>Sign in with Google</span>
          </span>
        </button>

                <button mat-button class="bttn bttn-facebook">
          <span class="onboarding-form-section__button">
            <img
              src="../../../assets/icons/icon_facebook.svg"
              alt="icon facebook"
            />
            <span>Sign in with Facebook</span>
          </span>
        </button>

                <button mat-button class="bttn bttn-linkedin">
          <span class="onboarding-form-section__button">
            <img
              src="../../../assets/icons/icon_linkedin.svg"
              alt="icon linkedin"
            />
            <span>Sign in with Linkedin</span>
          </span>
        </button>
            </div>
        </div>
    </div>
</section>
