<footer class="landing-page__footer">
  <div class="landing-page__wrapper">
    <div class="landing-page__footer-top">
      <h3 class="landing-page__footer-heading">
        Turn visitors into customers and customers into fans.
      </h3>

      <form class="landing-page__footer-demo-form">
        <input type="text" placeholder="Enter your work email" />
        <button type="submit" class="bttn bttn-secondary">
          Request a demo
        </button>
      </form>
    </div>

    <div class="landing-page__footer-items">
      <div class="landing-page__footer-item">
        <h4 class="landing-page__footer-menu-heading">Ask asktalos</h4>
        <ul class="landing-page__footer-menu">
          <li>
            <a href="" class="landing-page__footer-menu-link">Contact</a>
          </li>
          <li>
            <a href="" class="landing-page__footer-menu-link">Privacy Policy</a>
          </li>
          <li>
            <a href="" class="landing-page__footer-menu-link"
              >Terms & Conditions</a
            >
          </li>
        </ul>
      </div>

      <div class="landing-page__footer-item">
        <h4 class="landing-page__footer-menu-heading">Quick Links</h4>
        <ul class="landing-page__footer-menu">
          <li>
            <a href="" class="landing-page__footer-menu-link">Home</a>
          </li>
          <li>
            <a href="" class="landing-page__footer-menu-link"
              >Support Optimization Bot</a
            >
          </li>
          <li>
            <a href="" class="landing-page__footer-menu-link"
              >Lead Generation Bot</a
            >
          </li>
          <li>
            <a href="" class="landing-page__footer-menu-link">Pricing</a>
          </li>
          <li>
            <a href="" class="landing-page__footer-menu-link">About Us</a>
          </li>
        </ul>
      </div>

      <div class="landing-page__footer-item">
        <h4 class="landing-page__footer-menu-heading">Integrations</h4>
        <ul class="landing-page__footer-menu">
          <li>
            <a href="" class="landing-page__footer-menu-link">All</a>
          </li>
          <li>
            <a href="" class="landing-page__footer-menu-link">CRM</a>
          </li>
          <li>
            <a href="" class="landing-page__footer-menu-link">Help desk</a>
          </li>
        </ul>
      </div>

      <div class="landing-page__footer-item">
        <h4 class="landing-page__footer-menu-heading">Resources</h4>
        <ul class="landing-page__footer-menu">
          <li>
            <a href="" class="landing-page__footer-menu-link">Blogs</a>
          </li>
        </ul>
      </div>

      <div class="landing-page__footer-item">
        <h4 class="landing-page__footer-menu-heading">Follow Us On</h4>
        <ul class="landing-page__footer-menu menu--social-links">
          <li>
            <a href="" class="landing-page__footer-menu-link">
              <img
                src="../../../assets/icons/icon_landing_fb.svg"
                alt="fb icon"
              />
            </a>
          </li>
          <li>
            <a href="" class="landing-page__footer-menu-link">
              <img
                src="../../../assets/icons/icon_landing_twitter.svg"
                alt="twitter icon"
              />
            </a>
          </li>
          <li>
            <a href="" class="landing-page__footer-menu-link">
              <img
                src="../../../assets/icons/icon_landing_insta.svg"
                alt="insta icon"
              />
            </a>
          </li>
          <li>
            <a href="" class="landing-page__footer-menu-link">
              <img
                src="../../../assets/icons/icon_landing_yt.svg"
                alt="yt icon"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="landing-page__footer-copyrights">
      <img
        src="../../../assets/images/transparent__asktalos_white.svg"
        alt="asktalos"
      />
      <p>asktalos 2021. All rights reserved.</p>
    </div>
  </div>
</footer>
