<main class="landing-page">
  <app-landing-header></app-landing-header>

  <app-landing-banner
    heading="Drive Sales Using Conversational AI"
    description="Use asktalos to chat with your customers, increase engagement, and watch your sales break records. "
    btnURL="http://google.com"
    btnLabel="Setup Bot Free"
    imageURL="../../../assets/images/landing_ma_page_banner_image.png"
  ></app-landing-banner>

  <section class="landing-page__bot-intro">
    <div class="landing-page__wrapper flex-center">
      <div class="landing-page__bot-intro-item content--media">
        <img
          src="../../../assets/images/bot-screenshot.png"
          alt="bot screenshot"
        />
      </div>
      <div
        class="landing-page__bot-intro-item"
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-delay="500"
      >
        <h3 class="landing-page__heading">Nurture Your Prospects Into Leads</h3>
        <p class="landing-page__description">
          Chatbots convert four times higher than traditional lead generation
          tools because people prefer conversations.
        </p>
        <div class="landing-page__bot-intro-point">
          <h6 class="landing-page__bot-intro-point-heading">
            Convert Visitors To Leads
          </h6>
          <p class="landing-page__description">
            Answer contextually relevant questions, qualify leads and book sales
            at scale.
          </p>
        </div>
        <div class="landing-page__bot-intro-point">
          <h6 class="landing-page__bot-intro-point-heading">
            Never Leave A Customer Hanging
          </h6>
          <p class="landing-page__description">
            Never miss an opportunity to talk to your visitors, interact and
            generate more leads.
          </p>
        </div>
        <div class="landing-page__bot-intro-point">
          <h6 class="landing-page__bot-intro-point-heading">
            Book Meetings With Prospects
          </h6>
          <p class="landing-page__description">
            Route quality leads to book sales meetings with a conversational AI
            chatbot.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="landing-page__bot-intro">
    <div class="landing-page__wrapper flex-center">
      <div
        class="landing-page__bot-intro-item"
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-delay="500"
      >
        <h3 class="landing-page__heading">
          Turn Your Cost Centre Into Profit Centre
        </h3>
        <p class="landing-page__description">
          Minimise your customer support cost and lead-gen cost with routine
          tasks taken care of by asktalos.
        </p>
        <div class="landing-page__bot-intro-point">
          <h6 class="landing-page__bot-intro-point-heading">
            Reduce Operational Costs
          </h6>
          <p class="landing-page__description">
            Our self-learning chatbot automates 100% of queries and leaves your
            salespersons to only address critical requests.
          </p>
        </div>
        <div class="landing-page__bot-intro-point">
          <h6 class="landing-page__bot-intro-point-heading">
            Cross-Sell / Upsell
          </h6>
          <p class="landing-page__description">
            With smart machine learning algorithms, asktalos develop increased
            customer insights and help cross-sell/upsell to increase revenue
          </p>
        </div>
        <div class="landing-page__bot-intro-point">
          <h6 class="landing-page__bot-intro-point-heading">
            Reply With No Time Lag
          </h6>
          <p class="landing-page__description">
            Provide essential information to the customers who visit your
            website, just like they expect. Instantly.
          </p>
        </div>
      </div>
      <div class="landing-page__bot-intro-item content--media">
        <img
          src="../../../assets/images/bot-screenshot.png"
          alt="bot screenshot"
        />
      </div>
    </div>
  </section>

  <app-landing-demo-request></app-landing-demo-request>

  <section class="landing-page__automate">
    <div class="landing-page__wrapper flex-center">
      <div class="landing-page__automate-item color--white">
        <h3 class="landing-page__heading">Automate Routine Tasks</h3>
        <p class="landing-page__description">
          Save your time to devout your expertise in things that matter more.
        </p>
      </div>

      <div class="landing-page__automate-item">
        <div class="landing-page__automate-flex d-flex">
          <div class="landing-page__automate-flex-item">
            <div class="landing-page__automate-flex-icon">
              <img src="../../../assets/icons/icon_call.svg" alt="call" />
            </div>
            <h6>Tailor-Made Your Service Offerings</h6>
            <p class="landing-page__description">
              The lead optimization bot comes with added templates to help you
              personalize it based on industry niche
            </p>
          </div>
          <div class="landing-page__automate-flex-item">
            <div class="landing-page__automate-flex-icon">
              <img src="../../../assets/icons/icon_call.svg" alt="call" />
            </div>
            <h6>No Need To Code</h6>
            <p class="landing-page__description">
              Whether you are technically sound or don’t know anything about it,
              the lead generation bot let you handle it like a pro.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="landing-page__routine-tasks">
    <div class="landing-page__routine-tasks-inner">
      <div class="landing-page__routine-tasks-header">
        <h3 class="landing-page__heading landing-page__routine-tasks-heading">
          <span>Bring A Personal Touch Back To Your Brand</span>
        </h3>
        <p class="landing-page__tagline">
          With optimized flowcharts and artificial neural networks, asktalos
          work as a live salesperson
        </p>
      </div>

      <div class="landing-page__routine-tasks-items">
        <div class="landing-page__routine-tasks-item">
          <div
            class="landing-page__routine-tasks-item-inner"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="500"
          >
            <div class="landing-page__routine-tasks-image">
              <img src="../../../assets/icons/icon_call.svg" alt="call" />
            </div>
            <h5 class="landing-page__tagline">More Than Just Q&A</h5>
            <p class="landing-page__description">
              Display products, explain services and offer discounts - without
              human intervention.
            </p>
          </div>
        </div>

        <div class="landing-page__routine-tasks-item">
          <div
            class="landing-page__routine-tasks-item-inner"
            data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-delay="500"
          >
            <div class="landing-page__routine-tasks-image">
              <img src="../../../assets/icons/icon_bot_white.svg" alt="bot" />
            </div>
            <h5 class="landing-page__tagline">More Than Just Text</h5>
            <p class="landing-page__description">
              Enrich your customer conversations with pictures & videos directly
              on the chat window.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="landing-page__bot-intro section--personal-touch">
    <div class="landing-page__wrapper flex-center">
      <div
        class="landing-page__bot-intro-item"
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-delay="500"
      >
        <h3 class="landing-page__heading">
          Bring A Personal Touch Back To Your Brand
        </h3>
        <p class="landing-page__description">
          With optimized flowcharts and artificial neural networks, asktalos
          work as a live salesperson
        </p>

        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header [collapsedHeight]="'24px'">
              <mat-panel-title>
                <svg width="20" height="20" viewBox="0 0 24 24">
                  <path
                    d="M12.589.563C5.813.563.563,5.515.563,12.2a11.377,11.377,0,0,0,3.778,8.61c.4.363.321.574.39,2.818a.964.964,0,0,0,1.349.85c2.56-1.127,2.593-1.217,3.027-1.1,7.417,2.042,15.457-2.705,15.457-11.18C24.563,5.515,19.365.563,12.589.563ZM19.81,9.521l-3.532,5.592a1.808,1.808,0,0,1-2.609.481l-2.81-2.1a.726.726,0,0,0-.871,0L6.2,16.367a.57.57,0,0,1-.828-.758L8.9,10.016a1.808,1.808,0,0,1,2.609-.481l2.809,2.1a.726.726,0,0,0,.871,0l3.794-2.873a.569.569,0,0,1,.827.756Z"
                    transform="translate(-0.563 -0.563)"
                  />
                </svg>
                <span>Enable It On Your Social Media Channels</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              Enable a Chatbot on your Facebook & Instagram page today,
              establish a conversation with your prospects, and optimize your
              lead.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header [collapsedHeight]="'24px'">
              <mat-panel-title>
                <svg width="20" height="20" viewBox="0 0 24 19.303">
                  <path
                    d="M23.4,15.683H14.308A1.185,1.185,0,0,1,13.08,16.89H10.8a1.277,1.277,0,0,1-1.229-1.206H.6a.6.6,0,0,0-.6.6v.6A2.414,2.414,0,0,0,2.4,19.3H21.6A2.414,2.414,0,0,0,24,16.89v-.6A.6.6,0,0,0,23.4,15.683ZM21.6,1.81A1.81,1.81,0,0,0,19.8,0H4.2A1.81,1.81,0,0,0,2.4,1.81V14.477H21.6ZM19.2,12.064H4.8V2.413H19.2Z"
                  />
                </svg>
                <span>Insert It On Your Website</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              Enable a Chatbot on your Facebook & Instagram page today,
              establish a conversation with your prospects, and optimize your
              lead.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header [collapsedHeight]="'24px'">
              <mat-panel-title>
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 14.375 23"
                >
                  <path
                    d="M12.219,0H2.156A2.157,2.157,0,0,0,0,2.156V20.844A2.157,2.157,0,0,0,2.156,23H12.219a2.157,2.157,0,0,0,2.156-2.156V2.156A2.157,2.157,0,0,0,12.219,0ZM7.188,21.563a1.438,1.438,0,1,1,1.438-1.437A1.436,1.436,0,0,1,7.188,21.563Z"
                  />
                </svg>
                <span>Carry It To Your Mobile Application</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              Enable a Chatbot on your Facebook & Instagram page today,
              establish a conversation with your prospects, and optimize your
              lead.
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="landing-page__bot-intro-item content--media">
        <owl-carousel-o
          [options]="landingCarouselOptions"
          class="section--personal-touch-slider"
        >
          <ng-template carouselSlide>
            <img
              src="../../../assets/images/landing_page_mobile_screen.png"
              alt="bot screenshot"
            />
          </ng-template>
          <ng-template carouselSlide>
            <img
              src="../../../assets/images/landing_page_mobile_screen.png"
              alt="bot screenshot"
            />
          </ng-template>
          <ng-template carouselSlide>
            <img
              src="../../../assets/images/landing_page_mobile_screen.png"
              alt="bot screenshot"
            />
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </section>

  <section class="landing-page__bot-intro section--reduce-time">
    <div class="landing-page__wrapper flex-center">
      <div class="landing-page__bot-intro-item content--media">
        <img
          src="../../../assets/images/landing_page_mobile_screen.png"
          alt="bot screenshot"
        />
      </div>
      <div
        class="landing-page__bot-intro-item"
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-delay="500"
      >
        <h3 class="landing-page__heading">Reduce Your Response Time</h3>
        <p class="landing-page__description">
          With a live chat service, you can respond to your customers before
          they decide to buy elsewhere
        </p>
      </div>
    </div>
  </section>

  <section class="landing-page__bot-intro">
    <div class="landing-page__wrapper flex-center">
      <div
        class="landing-page__bot-intro-item"
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-delay="500"
      >
        <h3 class="landing-page__heading">
          Turn Every Visitor Into Paying Customers
        </h3>
        <p class="landing-page__description">
          A live lead gen support can engage them in conversations, answer
          questions, and increase sales.
        </p>
      </div>
      <div class="landing-page__bot-intro-item content--media text-right">
        <img
          src="../../../assets/images/landing_page_mobile_screen.png"
          alt="bot screenshot"
        />
      </div>
    </div>
  </section>

  <app-landing-footer></app-landing-footer>
</main>
