<div class="pricing">
  <app-landing-header></app-landing-header>

  <section class="pricing__banner">
    <h2 class="pricing__banner-heading">Plans For Everyone</h2>
    <p class="pricing__banner-description">
      Automate your business with our trial pack.
    </p>
  </section>

  <mat-tab-group>
    <mat-tab label="Monthly">
      <div class="pricing__packages">
        <div class="pricing__package">
          <h5>Free</h5>
          <p>For startups who want to grow in the future</p>
          <h3>₹0</h3>
          <h5>3 Months</h5>
          <ul>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
          </ul>

          <button
            class="bttn bttn-outlined-secondary bttn-with-icon"
            mat-button
          >
            <span>Get Started</span>
            <svg width="16.5" height="14.17" viewBox="0 0 16.5 14.17">
              <g transform="translate(0 13.859) rotate(-90)">
                <path
                  d="M.5,15V0"
                  transform="translate(6.274 0.75)"
                  fill="none"
                  stroke="#052849"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
                <path
                  d="M12.049,0,6.025,6.05,0,0"
                  transform="translate(0.75 9.7)"
                  fill="none"
                  stroke="#052849"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
              </g>
            </svg>
          </button>
        </div>
        <div class="pricing__package">
          <h5>Basic</h5>
          <p>For startups who want to grow in the future</p>
          <h3>₹5000</h3>
          <h5>3 Months</h5>
          <ul>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
          </ul>

          <button
            class="bttn bttn-outlined-secondary bttn-with-icon"
            mat-button
          >
            <span>Get Started</span>
            <svg width="16.5" height="14.17" viewBox="0 0 16.5 14.17">
              <g transform="translate(0 13.859) rotate(-90)">
                <path
                  d="M.5,15V0"
                  transform="translate(6.274 0.75)"
                  fill="none"
                  stroke="#052849"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
                <path
                  d="M12.049,0,6.025,6.05,0,0"
                  transform="translate(0.75 9.7)"
                  fill="none"
                  stroke="#052849"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
              </g>
            </svg>
          </button>
        </div>
        <div class="pricing__package">
          <h5>Pro</h5>
          <p>For startups who want to grow in the future</p>
          <h3>₹5000</h3>
          <h5>3 Months</h5>
          <ul>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
          </ul>

          <button
            class="bttn bttn-outlined-secondary bttn-with-icon"
            mat-button
          >
            <span>Get Started</span>
            <svg width="16.5" height="14.17" viewBox="0 0 16.5 14.17">
              <g transform="translate(0 13.859) rotate(-90)">
                <path
                  d="M.5,15V0"
                  transform="translate(6.274 0.75)"
                  fill="none"
                  stroke="#052849"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
                <path
                  d="M12.049,0,6.025,6.05,0,0"
                  transform="translate(0.75 9.7)"
                  fill="none"
                  stroke="#052849"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
              </g>
            </svg>
          </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Annully">
      <div class="pricing__packages">
        <div class="pricing__package">
          <h5>Free</h5>
          <p>For startups who want to grow in the future</p>
          <h3>₹0</h3>
          <h5>3 Months</h5>
          <ul>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
          </ul>

          <button
            class="bttn bttn-outlined-secondary bttn-with-icon"
            mat-button
          >
            <span>Get Started</span>
            <svg width="16.5" height="14.17" viewBox="0 0 16.5 14.17">
              <g transform="translate(0 13.859) rotate(-90)">
                <path
                  d="M.5,15V0"
                  transform="translate(6.274 0.75)"
                  fill="none"
                  stroke="#052849"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
                <path
                  d="M12.049,0,6.025,6.05,0,0"
                  transform="translate(0.75 9.7)"
                  fill="none"
                  stroke="#052849"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
              </g>
            </svg>
          </button>
        </div>
        <div class="pricing__package">
          <h5>Basic</h5>
          <p>For startups who want to grow in the future</p>
          <h3>₹5000</h3>
          <h5>3 Months</h5>
          <ul>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
          </ul>

          <button
            class="bttn bttn-outlined-secondary bttn-with-icon"
            mat-button
          >
            <span>Get Started</span>
            <svg width="16.5" height="14.17" viewBox="0 0 16.5 14.17">
              <g transform="translate(0 13.859) rotate(-90)">
                <path
                  d="M.5,15V0"
                  transform="translate(6.274 0.75)"
                  fill="none"
                  stroke="#052849"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
                <path
                  d="M12.049,0,6.025,6.05,0,0"
                  transform="translate(0.75 9.7)"
                  fill="none"
                  stroke="#052849"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
              </g>
            </svg>
          </button>
        </div>
        <div class="pricing__package">
          <h5>Pro</h5>
          <p>For startups who want to grow in the future</p>
          <h3>₹5000</h3>
          <h5>3 Months</h5>
          <ul>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
            <li>5000 Conversation</li>
            <li>1 Day/Week Support</li>
          </ul>

          <button
            class="bttn bttn-outlined-secondary bttn-with-icon"
            mat-button
          >
            <span>Get Started</span>
            <svg width="16.5" height="14.17" viewBox="0 0 16.5 14.17">
              <g transform="translate(0 13.859) rotate(-90)">
                <path
                  d="M.5,15V0"
                  transform="translate(6.274 0.75)"
                  fill="none"
                  stroke="#052849"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
                <path
                  d="M12.049,0,6.025,6.05,0,0"
                  transform="translate(0.75 9.7)"
                  fill="none"
                  stroke="#052849"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
              </g>
            </svg>
          </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <section class="pricing__faq">
    <h3 class="pricing__faq-heading">Frequently Asked Questions</h3>

    <div class="pricing__faq-accordion">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Is free plan valid only for 3 months
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Yes! We want to help you kick-start and improve your business. This
            is why the Free plan costs you nothing - forever! If you want to
            unlock advanced live chat features, add more chat operators, engage
            more unique visitors with your chatbots, or send more emails to your
            prospects, you will need to upgrade your plan to the Communicator,
            Chatbots, or Mailing.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Is free plan valid only for 3 months
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Yes! We want to help you kick-start and improve your business. This
            is why the Free plan costs you nothing - forever! If you want to
            unlock advanced live chat features, add more chat operators, engage
            more unique visitors with your chatbots, or send more emails to your
            prospects, you will need to upgrade your plan to the Communicator,
            Chatbots, or Mailing.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Is free plan valid only for 3 months
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Yes! We want to help you kick-start and improve your business. This
            is why the Free plan costs you nothing - forever! If you want to
            unlock advanced live chat features, add more chat operators, engage
            more unique visitors with your chatbots, or send more emails to your
            prospects, you will need to upgrade your plan to the Communicator,
            Chatbots, or Mailing.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Is free plan valid only for 3 months
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Yes! We want to help you kick-start and improve your business. This
            is why the Free plan costs you nothing - forever! If you want to
            unlock advanced live chat features, add more chat operators, engage
            more unique visitors with your chatbots, or send more emails to your
            prospects, you will need to upgrade your plan to the Communicator,
            Chatbots, or Mailing.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Is free plan valid only for 3 months
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Yes! We want to help you kick-start and improve your business. This
            is why the Free plan costs you nothing - forever! If you want to
            unlock advanced live chat features, add more chat operators, engage
            more unique visitors with your chatbots, or send more emails to your
            prospects, you will need to upgrade your plan to the Communicator,
            Chatbots, or Mailing.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </section>

  <app-landing-footer></app-landing-footer>
</div>
